In [1]:
import pandas as pd
from pathlib import Path
import re

In [2]:
epidem = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv")

In [3]:
epidem.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [4]:
epidem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12525825 entries, 0 to 12525824
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   location_key          object
 2   new_confirmed         float64
 3   new_deceased          float64
 4   new_recovered         float64
 5   new_tested            float64
 6   cumulative_confirmed  float64
 7   cumulative_deceased   float64
 8   cumulative_recovered  float64
 9   cumulative_tested     float64
dtypes: float64(8), object(2)
memory usage: 955.6+ MB

In [5]:
epidem_group = epidem.loc[epidem['cumulative_confirmed']>=1]
#epidem_group
epidem_group = epidem_group.dropna(subset=['location_key'])
#epidem_group

In [6]:
pattern = r'^US_..$'

us_epi = epidem_group.loc[epidem_group['location_key'].str.contains(pattern)]
us_epi

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
9896238,2020-03-12,US_AK,0.0,0.0,NaN,79.0,1.0,0.0,NaN,206.0
9896239,2020-03-13,US_AK,0.0,0.0,NaN,161.0,1.0,0.0,NaN,367.0
9896240,2020-03-14,US_AK,0.0,0.0,NaN,81.0,1.0,0.0,NaN,448.0
9896241,2020-03-15,US_AK,0.0,0.0,NaN,78.0,1.0,0.0,NaN,526.0
9896242,2020-03-16,US_AK,3.0,1.0,NaN,257.0,3.0,1.0,NaN,783.0
...,...,...,...,...,...,...,...,...,...,...
12428415,2022-09-11,US_WY,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
12428416,2022-09-12,US_WY,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
12428417,2022-09-13,US_WY,456.0,4.0,NaN,NaN,175746.0,1888.0,NaN,NaN
12428418,2022-09-14,US_WY,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN
12428419,2022-09-15,US_WY,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN

In [7]:
us_epi_cleaned = us_epi.set_index(['location_key'])

In [9]:
us_epi_cleaned.to_csv('resources/US_epi_cleaned.csv')