In [26]:
import pandas as pd
from pathlib import Path
import re

In [75]:
#read the csv from the google API specifically the epidemiology csv
epidem = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv")

In [76]:
#showcase the data
epidem.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [77]:
#double check the datatypes of the import
epidem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12525825 entries, 0 to 12525824
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   location_key          object
 2   new_confirmed         float64
 3   new_deceased          float64
 4   new_recovered         float64
 5   new_tested            float64
 6   cumulative_confirmed  float64
 7   cumulative_deceased   float64
 8   cumulative_recovered  float64
 9   cumulative_tested     float64
dtypes: float64(8), object(2)
memory usage: 955.6+ MB

In [78]:
#limit the dates to those of the first infection reported
epidem_group = epidem.loc[epidem['cumulative_confirmed']>=1]
epidem_group

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
60,2020-03-01,AD,1.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
61,2020-03-02,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
62,2020-03-03,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
63,2020-03-04,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
64,2020-03-05,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN

In [79]:
#dropping any rows that have a NA in the location key
epidem_group = epidem_group.dropna(subset=['location_key'])
epidem_group

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
60,2020-03-01,AD,1.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
61,2020-03-02,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
62,2020-03-03,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
63,2020-03-04,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
64,2020-03-05,AD,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN

In [80]:
#we only want US data so by using RegEx we are able to filter out the US locations
pattern = r'^US_..$'

us_epi = epidem_group.loc[epidem_group['location_key'].str.contains(pattern)]
us_epi

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
9896238,2020-03-12,US_AK,0.0,0.0,NaN,79.0,1.0,0.0,NaN,206.0
9896239,2020-03-13,US_AK,0.0,0.0,NaN,161.0,1.0,0.0,NaN,367.0
9896240,2020-03-14,US_AK,0.0,0.0,NaN,81.0,1.0,0.0,NaN,448.0
9896241,2020-03-15,US_AK,0.0,0.0,NaN,78.0,1.0,0.0,NaN,526.0
9896242,2020-03-16,US_AK,3.0,1.0,NaN,257.0,3.0,1.0,NaN,783.0
...,...,...,...,...,...,...,...,...,...,...
12428415,2022-09-11,US_WY,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
12428416,2022-09-12,US_WY,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
12428417,2022-09-13,US_WY,456.0,4.0,NaN,NaN,175746.0,1888.0,NaN,NaN
12428418,2022-09-14,US_WY,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN
12428419,2022-09-15,US_WY,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN

In [81]:
us_epi['location_key'] = us_epi['location_key'].str.replace('US_', '', regex=False)
us_epi

C:\Users\hurri\AppData\Local\Temp\ipykernel_35540\170516538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_epi['location_key'] = us_epi['location_key'].str.replace('US_', '', regex=False)

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
9896238,2020-03-12,AK,0.0,0.0,NaN,79.0,1.0,0.0,NaN,206.0
9896239,2020-03-13,AK,0.0,0.0,NaN,161.0,1.0,0.0,NaN,367.0
9896240,2020-03-14,AK,0.0,0.0,NaN,81.0,1.0,0.0,NaN,448.0
9896241,2020-03-15,AK,0.0,0.0,NaN,78.0,1.0,0.0,NaN,526.0
9896242,2020-03-16,AK,3.0,1.0,NaN,257.0,3.0,1.0,NaN,783.0
...,...,...,...,...,...,...,...,...,...,...
12428415,2022-09-11,WY,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
12428416,2022-09-12,WY,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
12428417,2022-09-13,WY,456.0,4.0,NaN,NaN,175746.0,1888.0,NaN,NaN
12428418,2022-09-14,WY,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN
12428419,2022-09-15,WY,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN

In [83]:
#cleaning additional by setting the index
us_epi_cleaned = us_epi.set_index(['location_key'])
us_epi_cleaned

,date,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
location_key,,,,,,,,,
AK,2020-03-12,0.0,0.0,NaN,79.0,1.0,0.0,NaN,206.0
AK,2020-03-13,0.0,0.0,NaN,161.0,1.0,0.0,NaN,367.0
AK,2020-03-14,0.0,0.0,NaN,81.0,1.0,0.0,NaN,448.0
AK,2020-03-15,0.0,0.0,NaN,78.0,1.0,0.0,NaN,526.0
AK,2020-03-16,3.0,1.0,NaN,257.0,3.0,1.0,NaN,783.0
...,...,...,...,...,...,...,...,...,...
WY,2022-09-11,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
WY,2022-09-12,0.0,0.0,NaN,NaN,175290.0,1884.0,NaN,NaN
WY,2022-09-13,456.0,4.0,NaN,NaN,175746.0,1888.0,NaN,NaN
WY,2022-09-14,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN
WY,2022-09-15,0.0,0.0,NaN,NaN,175746.0,1888.0,NaN,NaN

In [65]:
#Exporting csv
us_epi_cleaned.to_csv('US_epi_cleaned.csv')

In [68]:
vaccin = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv")

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
vaccin = vaccin.dropna(subset=['location_key'])
vaccin

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545113,2022-08-21,ZW,365.0,6400632.0,416.0,4715815.0,2011.0,12105303.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545114,2022-08-24,ZW,3621.0,6404253.0,3488.0,4719303.0,15923.0,12121226.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545115,2022-08-25,ZW,3684.0,6407937.0,2897.0,4722200.0,12159.0,12133385.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545116,2022-08-27,ZW,3069.0,6411006.0,2899.0,4725099.0,12206.0,12145591.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545117,2022-09-08,ZW,5608.0,6416614.0,5404.0,4730503.0,16007.0,12161598.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
us_vac = vaccin.loc[vaccin['location_key'].str.contains(pattern)]
us_vac

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
917598,2021-01-12,US_AK,NaN,22486.0,NaN,5400.0,NaN,35838.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917599,2021-01-13,US_AK,2055.0,24541.0,766.0,6166.0,2842.0,38680.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917600,2021-01-14,US_AK,10967.0,35508.0,0.0,NaN,3916.0,42596.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917601,2021-01-15,US_AK,4038.0,39546.0,3240.0,9406.0,6443.0,49039.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917602,2021-01-19,US_AK,15888.0,55434.0,1396.0,10802.0,17292.0,66331.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2531122,2022-09-12,US_WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531123,2022-09-13,US_WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531124,2022-09-14,US_WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531125,2022-09-15,US_WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531126,2022-09-16,US_WY,338.0,343443.0,243.0,300639.0,2318.0,781320.0,NaN,NaN,...,10.0,26987.0,7.0,29034.0,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Updated the city columns
us_vac['location_key'] = us_vac['location_key'].str.replace('US_', '', regex=False)
us_vac

C:\Users\hurri\AppData\Local\Temp\ipykernel_35540\884806092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_vac['location_key'] = us_vac['location_key'].str.replace('US_', '', regex=False)

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
917598,2021-01-12,AK,NaN,22486.0,NaN,5400.0,NaN,35838.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917599,2021-01-13,AK,2055.0,24541.0,766.0,6166.0,2842.0,38680.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917600,2021-01-14,AK,10967.0,35508.0,0.0,NaN,3916.0,42596.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917601,2021-01-15,AK,4038.0,39546.0,3240.0,9406.0,6443.0,49039.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917602,2021-01-19,AK,15888.0,55434.0,1396.0,10802.0,17292.0,66331.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2531122,2022-09-12,WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531123,2022-09-13,WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531124,2022-09-14,WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531125,2022-09-15,WY,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
2531126,2022-09-16,WY,338.0,343443.0,243.0,300639.0,2318.0,781320.0,NaN,NaN,...,10.0,26987.0,7.0,29034.0,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
us_vac_cleaned = us_vac.set_index(['location_key'])

In [85]:
us_vac_cleaned

,date,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,new_persons_fully_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
location_key,,,,,,,,,,,,,,,,,,,,,
AK,2021-01-12,NaN,22486.0,NaN,5400.0,NaN,35838.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK,2021-01-13,2055.0,24541.0,766.0,6166.0,2842.0,38680.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK,2021-01-14,10967.0,35508.0,0.0,NaN,3916.0,42596.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK,2021-01-15,4038.0,39546.0,3240.0,9406.0,6443.0,49039.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK,2021-01-19,15888.0,55434.0,1396.0,10802.0,17292.0,66331.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WY,2022-09-12,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,0.0,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
WY,2022-09-13,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,0.0,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
WY,2022-09-14,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,0.0,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
WY,2022-09-15,0.0,343105.0,0.0,300396.0,0.0,779002.0,NaN,NaN,0.0,...,0.0,26977.0,0.0,29027.0,NaN,NaN,NaN,NaN,NaN,NaN
WY,2022-09-16,338.0,343443.0,243.0,300639.0,2318.0,781320.0,NaN,NaN,137.0,...,10.0,26987.0,7.0,29034.0,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
us_vac_cleaned.to_csv('US_vac_cleaned.csv')

In [87]:
demo = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/demographics.csv")

In [88]:
demo

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
0,AD,77265.0,58625.0,55581.0,9269.0,67873.0,NaN,NaN,164.394,0.858,9370.0,12022.0,10727.0,12394.0,21001.0,20720.0,14433.0,8657.0,4881.0
1,AE,9890400.0,6836349.0,3054051.0,1290785.0,8479744.0,2833079.0,5914068.0,118.306,0.863,1011713.0,842991.0,2149343.0,3169314.0,1608109.0,797913.0,242707.0,55884.0,12426.0
2,AF,38928341.0,19976265.0,18952076.0,28244481.0,9797273.0,4114030.0,4114030.0,59.627,0.498,11088732.0,9821559.0,7035871.0,4534646.0,2963459.0,1840198.0,1057496.0,480455.0,105925.0
3,AF_BAL,1509183.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AF_BAM,495557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21684,ZA_WC_DC3,286786.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21685,ZA_WC_DC4,611278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21686,ZA_WC_DC5,74247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21687,ZM,18383956.0,9103006.0,9280950.0,9989317.0,7871713.0,2646619.0,2646619.0,24.730,0.588,5663542.0,4550181.0,3180383.0,2185194.0,1413889.0,761259.0,403835.0,179965.0,45708.0
21688,ZW,14862927.0,7092010.0,7770917.0,9928163.0,4717305.0,1521311.0,1521311.0,38.420,0.535,4308160.0,3559955.0,2482991.0,1867476.0,1257822.0,698089.0,425415.0,200358.0,62661.0

In [89]:
demo = demo.dropna(subset=['location_key'])
demo

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
0,AD,77265.0,58625.0,55581.0,9269.0,67873.0,NaN,NaN,164.394,0.858,9370.0,12022.0,10727.0,12394.0,21001.0,20720.0,14433.0,8657.0,4881.0
1,AE,9890400.0,6836349.0,3054051.0,1290785.0,8479744.0,2833079.0,5914068.0,118.306,0.863,1011713.0,842991.0,2149343.0,3169314.0,1608109.0,797913.0,242707.0,55884.0,12426.0
2,AF,38928341.0,19976265.0,18952076.0,28244481.0,9797273.0,4114030.0,4114030.0,59.627,0.498,11088732.0,9821559.0,7035871.0,4534646.0,2963459.0,1840198.0,1057496.0,480455.0,105925.0
3,AF_BAL,1509183.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AF_BAM,495557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21684,ZA_WC_DC3,286786.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21685,ZA_WC_DC4,611278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21686,ZA_WC_DC5,74247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21687,ZM,18383956.0,9103006.0,9280950.0,9989317.0,7871713.0,2646619.0,2646619.0,24.730,0.588,5663542.0,4550181.0,3180383.0,2185194.0,1413889.0,761259.0,403835.0,179965.0,45708.0
21688,ZW,14862927.0,7092010.0,7770917.0,9928163.0,4717305.0,1521311.0,1521311.0,38.420,0.535,4308160.0,3559955.0,2482991.0,1867476.0,1257822.0,698089.0,425415.0,200358.0,62661.0

In [92]:
us_demo = demo.loc[demo['location_key'].str.contains(pattern)]
us_demo.head()

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
18284,US_AK,733391.0,424916.0,391925.0,NaN,NaN,NaN,NaN,NaN,NaN,115198.0,111045.0,128022.0,113254.0,102310.0,116061.0,82608.0,35021.0,13322.0
18314,US_AL,5024279.0,2512466.0,2681479.0,NaN,NaN,NaN,NaN,NaN,NaN,621981.0,660970.0,701742.0,680141.0,613936.0,666838.0,645125.0,414601.0,188612.0
18382,US_AR,3011524.0,1585221.0,1654473.0,NaN,NaN,NaN,NaN,NaN,NaN,411655.0,409232.0,438604.0,423461.0,368838.0,394967.0,403526.0,264192.0,125218.0
18458,US_AS,49710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18459,US_AZ,7151502.0,4026510.0,4085461.0,NaN,NaN,NaN,NaN,NaN,NaN,1080975.0,1054611.0,1112760.0,1095491.0,905754.0,930631.0,988546.0,646511.0,296692.0

In [93]:
us_demo = us_demo.drop(['population_rural','population_urban','population_largest_city','population_clustered','population_density','human_development_index'], axis=1)
us_demo.head()

,location_key,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
18284,US_AK,733391.0,424916.0,391925.0,115198.0,111045.0,128022.0,113254.0,102310.0,116061.0,82608.0,35021.0,13322.0
18314,US_AL,5024279.0,2512466.0,2681479.0,621981.0,660970.0,701742.0,680141.0,613936.0,666838.0,645125.0,414601.0,188612.0
18382,US_AR,3011524.0,1585221.0,1654473.0,411655.0,409232.0,438604.0,423461.0,368838.0,394967.0,403526.0,264192.0,125218.0
18458,US_AS,49710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18459,US_AZ,7151502.0,4026510.0,4085461.0,1080975.0,1054611.0,1112760.0,1095491.0,905754.0,930631.0,988546.0,646511.0,296692.0

In [95]:
us_demo['location_key'] = us_demo['location_key'].str.replace('US_', '', regex=False)
us_demo.head()

,location_key,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
18284,AK,733391.0,424916.0,391925.0,115198.0,111045.0,128022.0,113254.0,102310.0,116061.0,82608.0,35021.0,13322.0
18314,AL,5024279.0,2512466.0,2681479.0,621981.0,660970.0,701742.0,680141.0,613936.0,666838.0,645125.0,414601.0,188612.0
18382,AR,3011524.0,1585221.0,1654473.0,411655.0,409232.0,438604.0,423461.0,368838.0,394967.0,403526.0,264192.0,125218.0
18458,AS,49710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18459,AZ,7151502.0,4026510.0,4085461.0,1080975.0,1054611.0,1112760.0,1095491.0,905754.0,930631.0,988546.0,646511.0,296692.0

In [96]:
us_demo_cleaned = us_demo.set_index(['location_key'])
us_demo_cleaned

,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
location_key,,,,,,,,,,,,
AK,733391.0,424916.0,391925.0,115198.0,111045.0,128022.0,113254.0,102310.0,116061.0,82608.0,35021.0,13322.0
AL,5024279.0,2512466.0,2681479.0,621981.0,660970.0,701742.0,680141.0,613936.0,666838.0,645125.0,414601.0,188612.0
AR,3011524.0,1585221.0,1654473.0,411655.0,409232.0,438604.0,423461.0,368838.0,394967.0,403526.0,264192.0,125218.0
AS,49710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZ,7151502.0,4026510.0,4085461.0,1080975.0,1054611.0,1112760.0,1095491.0,905754.0,930631.0,988546.0,646511.0,296692.0
CA,39538223.0,20468055.0,20856543.0,5297960.0,5594857.0,6134141.0,5908592.0,5079947.0,4954811.0,4286163.0,2632208.0,1435918.0
CO,5773714.0,2978798.0,2984005.0,782811.0,743944.0,854059.0,875080.0,741220.0,776641.0,653732.0,357233.0,178082.0
CT,3605944.0,1818390.0,1933634.0,416756.0,474984.0,464289.0,464250.0,499839.0,515148.0,456067.0,277479.0,183211.0
DC,689545.0,297434.0,335235.0,58373.0,62674.0,138612.0,106072.0,69265.0,70525.0,65989.0,38782.0,22377.0
DE,989948.0,499890.0,535860.0,120699.0,127709.0,137209.0,128535.0,126191.0,132876.0,135670.0,86094.0,40766.0
FL,21538187.0,10895349.0,11483510.0,2371551.0,2552497.0,2815527.0,2770363.0,2671958.0,2785900.0,3052085.0,2211881.0,1147096.0
GA,10711908.0,5704118.0,6019096.0,1589223.0,1582966.0,1624897.0,1721488.0,1511074.0,1410843.0,1266276.0,707359.0,309088.0
GU,153836.0,80776.0,78881.0,25383.0,25702.0,25582.0,20667.0,18869.0,19099.0,13596.0,7394.0,3365.0
HI,1455271.0,764289.0,767404.0,179021.0,172637.0,215044.0,201768.0,178560.0,202191.0,195458.0,115228.0,71787.0
IA,3190369.0,1578224.0,1623355.0,397429.0,402753.0,437058.0,396609.0,364027.0,416686.0,373001.0,255350.0,158665.0
ID,1839106.0,961984.0,963354.0,281927.0,264099.0,266390.0,255515.0,210220.0,230619.0,218863.0,131614.0,66092.0
IL,12812508.0,6571414.0,6875083.0,1683851.0,1756136.0,1866573.0,1874053.0,1647898.0,1703221.0,1475643.0,918947.0,520175.0
IN,6785528.0,3417226.0,3558501.0,891408.0,921931.0,936258.0,923133.0,835962.0,896082.0,802409.0,498505.0,270040.0
KS,2937880.0,1507814.0,1543893.0,410464.0,397191.0,434293.0,393807.0,347409.0,386769.0,334702.0,216322.0,130751.0
KY,4505836.0,2305740.0,2399482.0,574712.0,580379.0,624308.0,634768.0,573246.0,614156.0,577473.0,356669.0,169511.0
LA,4657757.0,2298746.0,2414412.0,608165.0,610408.0,692774.0,616907.0,550141.0,604586.0,538574.0,333370.0,158234.0
MA,7029917.0,3253902.0,3503619.0,727185.0,824328.0,947420.0,876627.0,873968.0,897069.0,803555.0,493949.0,313420.0
MD,6177224.0,3048317.0,3276183.0,753671.0,796216.0,859584.0,846380.0,835344.0,842551.0,735894.0,423674.0,231187.0
ME,1362359.0,676661.0,710758.0,139222.0,159477.0,157999.0,162366.0,177215.0,207234.0,196573.0,121204.0,66129.0
MI,10077331.0,4830759.0,5052206.0,1153045.0,1300485.0,1260194.0,1224079.0,1212834.0,1355475.0,1212622.0,743996.0,420234.0
MN,5706494.0,2857869.0,2917202.0,733192.0,727957.0,792297.0,763154.0,718287.0,763888.0,641260.0,399136.0,235898.0
MO,6154913.0,3159405.0,3311378.0,790305.0,815634.0,880980.0,826424.0,765190.0,838581.0,781730.0,506642.0,265299.0
MP,47329.0,22286.0,19704.0,6179.0,8143.0,5702.0,3331.0,5887.0,7098.0,4189.0,1195.0,266.0
MS,2961279.0,1525920.0,1627395.0,414938.0,423569.0,435494.0,415980.0,363520.0,391077.0,366193.0,234624.0,107920.0
MT,1084225.0,549030.0,545833.0,126699.0,128989.0,146517.0,131090.0,120946.0,159002.0,146788.0,87963.0,46869.0
NC,10439388.0,5556412.0,5897122.0,1437087.0,1430405.0,1553003.0,1603185.0,1419884.0,1418606.0,1370673.0,826625.0,394067.0
ND,779094.0,358946.0,354186.0,84494.0,84899.0,117455.0,86782.0,76663.0,94390.0,78864.0,54276.0,35310.0
NE,1961504.0,972230.0,994287.0,265048.0,249745.0,283191.0,255428.0,221776.0,248112.0,214373.0,142915.0,85929.0
NH,1377529.0,689405.0,712302.0,147075.0,174790.0,167724.0,168624.0,192830.0,208108.0,182247.0,103314.0,56994.0
NJ,9288994.0,4453585.0,4740817.0,1083226.0,1142584.0,1145509.0,1236030.0,1219969.0,1213196.0,1072031.0,677334.0,404523.0
NM,2117522.0,1159699.0,1195606.0,308727.0,306554.0,322950.0,297577.0,265453.0,303417.0,289822.0,177872.0,82933.0
NV,3104614.0,1852839.0,1827437.0,473403.0,458570.0,511691.0,540832.0,452032.0,440503.0,444638.0,258533.0,100075.0
NY,20201249.0,9534666.0,10268879.0,2218487.0,2421069.0,2845428.0,2671618.0,2474249.0,2537391.0,2308932.0,1469824.0,856548.0
OH,11799448.0,5744422.0,6066472.0,1413162.0,1506685.0,1510864.0,1495769.0,1426939.0,1597051.0,1430585.0,918459.0,511381.0
OK,3959353.0,2022255.0,2079155.0,534360.0,520301.0,585830.0,535451.0,458844.0,510079.0,487376.0,317317.0,151850.0
OR,4237256.0,2124048.0,2181304.0,498276.0,512003.0,580168.0,592115.0,493012.0,576054.0,554183.0,318598.0,180943.0
PA,13002700.0,6403661.0,6794266.0,1439094.0,1616511.0,1705746.0,1594658.0,1610123.0,1802742.0,1647615.0,1100333.0,681105.0
PR,3285874.0,1750923.0,1912653.0,393572.0,481121.0,533336.0,516414.0,494489.0,453562.0,376235.0,261086.0,153761.0
RI,1097379.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SC,5118425.0,2613483.0,2777111.0,650352.0,667132.0,738783.0,702440.0,636771.0,683035.0,707685.0,419540.0,184856.0
SD,886667.0,447871.0,450867.0,120814.0,112972.0,126540.0,111610.0,99512.0,116125.0,100550.0,68334.0,42281.0
TN,6910840.0,3468728.0,3672397.0,865908.0,886991.0,948127.0,964722.0,868923.0,916846.0,893144.0,544886.0,251577.0
TX,29145505.0,15255472.0,15630971.0,4495213.0,4313685.0,4534650.0,4545439.0,3715802.0,3577559.0,3058534.0,1803151.0,842409.0
UT,3271616.0,1730966.0,1723194.0,611965.0,525511.0,578627.0,514840.0,333571.0,333179.0,288455.0,179626.0,88386.0
VA,8631393.0,4515968.0,4715559.0,1127874.0,1142685.0,1297534.0,1288398.0,1199821.0,1188888.0,1066448.0,616379.0,303500.0
VI,87146.0,50047.0,54975.0,13356.0,13979.0,12715.0,9801.0,11864.0,14601.0,14096.0,10799.0,3810.0
VT,643077.0,315725.0,327033.0,63835.0,78808.0,81380.0,74725.0,80915.0,96928.0,88319.0,49872.0,27977.0
WA,7705281.0,3822449.0,3872795.0,936415.0,951634.0,1080493.0,1068547.0,938806.0,1016339.0,914363.0,509288.0,279359.0
WI,5893718.0,2991325.0,3056652.0,724736.0,759105.0,808554.0,765686.0,748954.0,818035.0,704885.0,450759.0,267263.0
WV,1793716.0,947410.0,978947.0,202753.0,217366.0,234197.0,243824.0,224404.0,271172.0,272377.0,174501.0,85765.0
WY,576851.0,330729.0,317830.0,83898.0,78523.0,94403.0,84233.0,71877.0,91709.0,77560.0,44614.0,21742.0

In [97]:
us_demo_cleaned.to_csv('US_demo_cleaned.csv')